body {
background-image: url("coffee.jpg");
}

h1  {
background-color: darkcyan;
text-align: center;}

p {
padding: 5px;
margin: 0px;
text-align: center;}

p.two{
text-align: left;}

a:link  {
color:darkcyan;
text-decoration: underline;}

a:visited  {
color:blue
text-decoration: blue;}

a:hover {
color:orange;}

a:active  {
color:black;}
