

h1  {
background-color: dodgerblue;
color: white;
text-align: center;}

p {
padding: 5px;
margin: 0px;
text-align: center;}

p.two{
text-align: center;}

a:link  {
color:dodgerblue;
text-decoration: underline;}

a:visited  {
color:blue
text-decoration: blue;}

a:hover {
color:orange;}

a:active  {
color:black;}

p.three{
text-align: left;
background-color: dodgerblue;
color: white;}
